
header
{
    height: 10vh;
    background-color: burlywood;
}
.container{
    display: flex;
}
.ab
{

    display: flex;
    flex-direction: column;
}

.a{
    height: 40vh;
    background-color: bisque;

    width: 60vw;

}
.b{

    height: 40vh;
    background-color: rgb(3, 112, 41);
   
    width: 60vw;
}

.c{

    height: 80vh;
    background-color: rgb(13, 134, 156);
    float: right;
    width: 40vw;
}

footer
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    background-color: aqua;
}






@media only screen and (max-width: 500px) {
    .a{
     height: 26.6vh;
     width: auto;
    }
    .b{
     height: 26.6vh;
     width: auto;
 
    }
    .c{
     height: 26.6vh;
    width: auto;
     }
     .container{
        
        
         display: flex;
        flex-direction: column;
     }
 
   }
