header {
    height: 10vh;
    background-color: burlywood;
}

.container {
    display: flex;

}

.a {
    height: 80vh;
    background-color: bisque;
    width: 60vw;
}

.b {

    height: 80vh;
    background-color: rgb(3, 112, 41);
    order: -1;
    width: 20vw;
}

.c {

    height: 80vh;
    background-color: rgb(13, 134, 156);
    float: right;
    width: 20vw;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    background-color: aqua;
}





@media only screen and (max-width: 700px) {

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }


    .a {
        height: 60vh;
        background-color: bisque;

        width: 100vw;

    }

    .b {

        height: 30vh;
        background-color: rgb(3, 112, 41);
        order: 0;
        width: 50vw;
    }

    .c {

        height: 30vh;
        background-color: rgb(13, 134, 156);
        float: right;
        width: 50vw;
    }

}



@media only screen and (max-width: 450px) {

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }


    .a {
        height: 26.6vh;
        background-color: bisque;

        width: 100vw;

    }

    .b {

        height: 26.6vh;
        background-color: rgb(3, 112, 41);
        order: 0;
        width: 100vw;
    }

    .c {

        height: 26.6vh;
        background-color: rgb(13, 134, 156);
        float: right;
        width: 100vw;
    }

}